data
logs
metastore_db
project/project
project/target
target
tmp
output
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
*.class
metastore
.DS_Store
init.d
.sbtserver
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt

*.log
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.idea_modules
/tmp
test-output
*.iml
