.cache-main
.Dockerfile.swp
.vertx/
datasets/movielens/ml-latest/movies-hive-friendly.csv
datasets/movielens/ml-latest/ratings-hive-friendly.csv
datasets/notmnist/notMNIST_large.tar.gz
datasets/notmnist/notMNIST_small/
datasets/notmnist/notMNIST_large/
image-pca-vectors.parquet/
datasets/tensorflow/serving/inception_model/00157585/
stanford-corenlp-full-2015-12-09
lfw-deepfunneled/
als/
lfw-deepfunneled.tgz
myapps/airflow/dags/*.pyc
data
work
data_work
.Rhistory
.ipynb_checkpoints
.netrwhist
sort.txt.bz2
logs
metastore_db
dump.rdb
derby.log
sort.txt
stanford-corenlp-3.6.0-models.jar
fluxcapacitor-pipeline.tar
project/project
project/target
target
tmp
output
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
*.class
metastore
.DS_Store
init.d
.sbtserver
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
.settings
.project
.classpath

*.log
*.out

# data
genders-partitioned.parquet/
genders-unpartitioned.parquet/
ratings-partitioned.parquet/
ratings-unpartitioned.parquet/
ratings.csv
ratings.json
genders.csv
genders.json

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.idea_modules
/tmp
test-output
*.iml
