apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: users-pvc
  namespace: kubeflow 
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ PIPELINE_USERS_STORAGE_GB }}
