/build
/releases
/local-deps
*.beam
erl_crash.dump
rebar3.crashdump
rebar.lock
# Not sure who's generating this but it's related to erlexec
compile_commands.json
/priv/bin/multimarkdown
/priv/*.html.gz
/priv/components/*
!/priv/components/guild-*
!/priv/components/vz-*
!/priv/components/tf-*
/.first-build
