%%%-*-erlang-*-

{base_dir, "build"}.
{checkouts_dir, "local-deps"}.
{erl_opts, [warnings_as_errors]}.

{deps,
 [{e2,      {git, "https://github.com/gar1t/e2.git",             {branch, "master"}}},
  {gproc,   {git, "https://github.com/uwiger/gproc.git",         {ref,    "1d16f5e"}}},
  {cli,     {git, "https://github.com/gar1t/erlang-cli.git",     {branch, "master"}}},
  {psycho,  {git, "https://github.com/gar1t/psycho.git",         {branch, "master"}}},
  {erlexec, {git, "https://github.com/gar1t/erlexec.git",        {branch, "master"}}},
  {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git",      {branch, "0.12.1"}}},
  {jiffy,   {git, "https://github.com/davisp/jiffy.git",         {ref,    "a7db724"}}},
  {sqlite3, {git, "https://github.com/gar1t/erlang-sqlite3.git", {branch, "master"}}},
  {euuid,   {git, "https://github.com/gar1t/euuid.git",          {branch, "master"}}}
 ]}.

{overrides,
 [{override, gproc,
   [{deps,
     [{gen_leader, {git, "https://github.com/garret-smith/gen_leader_revival.git",
                    {branch, "master"}}}]}
   ]},
  {override, sqlite3,
   [{plugins, [pc]},
    {artifacts, ["priv/sqlite3_drv.so"]},
    {provider_hooks, [{post, [{compile, {pc, compile}}, {clean, {pc, clean}}]}]}
   ]}
 ]}.
