<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
 debug="false">

 <!-- Note we need two appends because when running inside Azkaban,
      Azkaban will close all the appenders attached on root logger. 
      So the Console appender might be closed when running inside
      Azkaban but CamusConsole will remain. -->

 <appender name="CamusConsole" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="[%c{1}] - %m%n" />
  </layout>
 </appender>

 <appender name="Console" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="[%c{1}] - %m%n" />
  </layout>
 </appender>

 <logger name="azkaban">
  <level value="ERROR" />
  <appender-ref ref="CamusConsole" />
 </logger>
 
 <logger name="kafka" additivity="false">
  <level value="WARN" />
  <appender-ref ref="CamusConsole" />
 </logger>
 
  <logger name="com" additivity="false">
  <level value="INFO" />
  <appender-ref ref="CamusConsole" />
 </logger>

  <logger name="org" additivity="false">
  <level value="INFO" />
  <appender-ref ref="CamusConsole" />
 </logger>

 <root>
  <level value="INFO" />
  <appender-ref ref="Console" />
 </root>

</log4j:configuration>
