apiVersion: v1
kind: Service
metadata:
  name: airflow
  namespace: kubeflow
  labels:
    app: airflow
spec:
  ports:
  - name: airflow-webui
    port: 80
    targetPort: 80
  - name: github-webhook
    port: 5000
    targetPort: 5000
  - name: celery-webui
    port: 5555
    targetPort: 5555
  - name: airflow-logs
    port: 8793
    targetPort: 8793
  selector:
    app: airflow 
