*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline:none;
}

.drop {
  width:90%;
  height:220px;
  border:3px dashed #DADFE3;
  border-radius:15px;
  overflow:hidden;
  text-align:center;
  background:transparent;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  margin-top:0px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:10px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.drop .cont {
  width:500px;
  height:170px;
  color:#8E99A5;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.drop .cont i {
  font-size:40px;
  color:#787e85;
  position:relative;
}

.drop .cont .tit {
  font-size:30px;
  text-transform:uppercase;
  font-weight:900;
}

.drop .cont .desc {
  color:#787e85;
  font-size:18px;
}

.drop .cont .browse {
  margin:10px 25%;
  color:white;
  padding:8px 16px;
  border-radius:4px;
  background:#00c993;
}

.drop input {
  width:100%;
  height:100%;
  cursor:pointer;
  background:red;
  opacity:0;
  margin:auto;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

#list {
  width:100%;
  text-align:left;
  position:absolute;
  left:0;
  top:0;
}

.dashed_upload {
  height:200px;
}

