Package: nvidia-prometheus-stats
Version: 0.1-1
Section: base
Priority: optional
Architecture: amd64
Maintainer: chetan <chetan@bons.ai>
Description: Utility for scraping nvidia 
  memory and GPU utilization and exposing 
  them in a Prometheus endpoint or via push 
  gateway.

