apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: kubeflow-ambassador
  app.kubernetes.io/name: kubeflow-ambassador
spec:
  hosts:
  - "*" 
  gateways:
  - gateway
#  - {{ PIPELINE_UI_GATEWAY }}
  http:
  - match:
    - uri:
        prefix: /admin/kubeflow
    route:
    - destination:
        host: ambassador.kubeflow.svc.local.cluster
        port:
          number: 80 
      weight: 100
