apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: fission-ui
  namespace: fission
spec:
  replicas: 1
  template:
    metadata:
      labels:
        svc: fission-ui
    spec:
      containers:
      - name: nginx
        image: fission/fission-ui:0.1.0

---
apiVersion: v1
kind: Service
metadata:
  name: fission-ui
  namespace: fission
  labels:
    svc: fission-ui
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 31319
  selector:
    svc: fission-ui
