apiVersion: v1
kind: Service
metadata:
  name: mlflow 
  labels:
    app: mlflow
    app.kubernetes.io/name: mlflow
    app_type: web-app
spec:
#  type: NodePort
  ports:
  - name: http-mlflow
    port: 5000
    targetPort: 5000
  selector:
    app: mlflow 
