.DS_Store
beamexample/.classpath
beamexample/.project
beamexample/.settings
beamexample/target
DataflowTutorial/.classpath
DataflowTutorial/.project
DataflowTutorial/.settings
DataflowTutorial/target
DataflowTutorial/output
BeamTutorial/.classpath
BeamTutorial/.project
BeamTutorial/.settings
BeamTutorial/output
BeamTutorial/target
dependency-reduced-pom.xml
